
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Price recommendation microservice
/PriceRecomendationModel/venv/
/PriceRecomendationModel/__pycache__/
/PriceRecomendationModel/*.pyc
